.menuPanel {
  position: absolute;
  top: 90px;
  right: 10px;
  width: 280px;
  background-color: lightgray;
  border: solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.menuPanel.active {
  opacity: 1;
  visibility: visible;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

.menuOverlay.active {
  opacity: 1;
  visibility: visible;
}

.menuForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formGroup label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.formGroup input {
  width: 100%;
  height: 3vh;
  padding: 5px 8px;
  border: solid;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
}

.formGroup input:focus {
  outline: none;
}

.burgerMenu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.burgerMenu:hover {
  opacity: 0.7;
}

.burgerMenu:active {
  opacity: 0.5;
}

.headBarWrapper {
  position: relative;
}

.headBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentAbnBar {
  display: flex;
  align-items: center;
  border: solid;
  border-radius: 10px;
  height: 5vH;
  width: 90%;
}

.dateOfAbn {
  font-size: 2.5vH;
  margin: 5%;
}

.burgerMenu {
  margin: 2vH;
}

.currentAbn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid;
  border-radius: 10px;
  background-color: lightgray;
  min-height: 72vH;
}

.currentAbnDivider1{
  display: flex;
  flex-direction: column;
}


.currentAbnDivider2{
  display: flex;
  flex-direction: column;
}

.currentDay {
  margin: 2vH 0 4vH 3vH;
  font-size: 2vH;
}

.currentAbnItems {
  display: flex;
  flex-direction: column;
}

.item1wrapper {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 0px 3vH 1vH 2vH;
  width: 77%;
}

.itemDuration {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 20%;
  text-align: center;
  justify-content: center;
  margin: 0 3vH 1vH 0vH;
}

.item2wrapper {
  display: flex;
}

.lem {
  display: flex;
  justify-content: space-between;
  margin: 2vH;
}

.lemButtons {
  display: flex;
  align-items: center;
  border-top: #000000 solid;
}

.lemButtom {
  padding: 1vh;
  width: 22vh;
  border-radius: 10px;
  border: solid;
  margin-right: 1vh;
  margin-top: 1vh;
}

.footerNavBar {
  display: flex;
  flex-direction: column;
}

.lineLemTotal {
  border-top: #000000 solid;
  width: 22%;
}

.lemGesamtzahl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 1vH;
  background-color: #df6666;
  border-radius: 10px;
}

.tagAuswahl {
  border: solid;
  border-radius: 10px;
  background-color: lightgray;
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tag {
  padding: 1vh 3vh;
  background-color: white;
  margin: 1vh;
  border: solid;
}

.aktiverTag {
  background-color: #9f9f9f;
}

.hauptButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1vh;
}

.hauptButton {
  border: none;
  background-color: white;
  padding: 1vh 2vh;
}
